* {
  margin: 0; }

canvas {
  display: inline-block;
  background-image: url(images/background.jpg); }

.canvasSmall {
  background-image: url(images/background-mini2.jpg); }

#canvasSmall {
  float: left; }

* {
  margin: 0px;
  padding: 0px; }

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  position: relative; }

header {
  height: 48px;
  box-shadow: 0px 8px 5px 0px #9e999e;
  margin-bottom: 79px;
  line-height: 46px; }

h1 {
  font-size: 1.500em;
  color: #212121;
  vertical-align: middle;
  padding-left: 29px; }

main {
  display: grid;
  grid-template-columns: 29px 200px 200px 750px 150px;
  grid-template-rows: 20px 240px 240px;
  grid-template-areas: ". tools frames canvas preview" ". . frames canvas ." ". colors frames canvas ." ". . frames . ."; }

.tools, .colors {
  width: 150px;
  height: 248px;
  box-shadow: 0px 5px 5px 1px #a19ea1; }

.tools {
  grid-area: tools; }

.colors {
  grid-area: colors;
  position: relative; }

.frames {
  grid-area: frames; }

.canvas {
  grid-area: canvas;
  width: 735px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.canvasElem {
  width: 238px;
  height: 238px;
  background-color: #9e999e;
  margin-bottom: 10px; }

.tool, .color {
  height: 40px;
  padding-left: 12px;
  vertical-align: middle;
  line-height: 43px; }

.color {
  position: relative;
  z-index: 2;
  margin-left: 5px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px; }

.tool:nth-child(1) {
  margin-top: 10px;
  margin-bottom: 10px; }

.tool img {
  vertical-align: middle; }

.circle {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: middle; }

.bucketClick {
  cursor: url(); }

.color-picker {
  width: 30px;
  height: 30px;
  border: 3px solid gray; }

.primary-color {
  background-color: black;
  position: absolute;
  left: 15px; }

.secondary-color {
  background-color: white;
  position: absolute;
  top: -22px;
  left: 30px; }

.canvasElem:nth-child(2) {
  background-color: blue; }

.circle-canvas {
  border-radius: 122px; }

.canvContainer {
  width: 238px;
  height: 238px;
  padding-bottom: 10px; }

.frame-child {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
  background: #dddada;
  margin-right: 5px !important; }

.frame {
  width: 170px;
  margin-bottom: 10px;
  position: relative; }

.preview {
  grid-area: preview; }

#canvas-area {
  background: white;
  border: 5px solid #dddada; }

.frame1, .frame2, .frame3 {
  border: 2px solid black; }

.btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  font-size: 19px; }

.btn-delete {
  right: 10px;
  top: 5px; }

.btn-copy {
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer; }

.btn-add {
  position: unset;
  left: 2px;
  bottom: 2px;
  width: 114px; }

#runAnim, #frameRate, #fullscreen {
  width: 160px; }

#runAnim, .btn-add, #fullscreen, #setPixelCount {
  font-size: 17px;
  background: white;
  cursor: pointer;
  box-shadow: 0px 5px 5px 1px #a19ea1;
  height: 50px;
  margin-bottom: 10px; }

#fullscreen {
  width: 114px; }

#frameRate, #pixelCount {
  margin-top: 10px;
  border: none;
  box-shadow: 0px 5px 5px 1px #a19ea1;
  height: 48px;
  text-align: center; }

#pixelCount {
  width: 160px; }

#setPixelCount {
  width: 160px; }

input::placeholder {
  color: #d6d4d6; }

.color-list {
  width: 100px;
  height: 100px;
  background: black;
  z-index: 1000;
  position: relative;
  top: -100px;
  right: -10px;
  border: 3px solid gray; }

.color-list-elem {
  width: 95px;
  height: 20px;
  padding-right: 5px;
  display: inline-block;
  display: none; }

.visible {
  display: block; }

.canvasSmall {
  display: block;
  border-radius: 7px; }

.frameContainer {
  position: relative;
  width: 110px;
  height: 110px;
  position: relative;
  border-radius: 7px;
  margin-bottom: 8px; }

.frameContainer:hover {
  box-shadow: 0px 1px 0px 5px rgba(175, 175, 174, 0.99); }

.active {
  box-shadow: 0px 1px 0px 5px rgba(255, 238, 0, 0.99); }

.canvSize {
  text-align: center; }

.tool img {
  width: 20px; }

.keybord {
  width: 50px;
  position: absolute;
  bottom: 10px;
  left: 20px; 
  cursor: pointer;}

.popUp {
  display: none; }

.popUpKeyBord {
  position: absolute;
  background: white;
  bottom: -70px;
  display: block;
  width: 150px;
  height: 80px;
  border-top: none;
  border-radius: 5px;
  box-shadow: 0px 8px 8px 0px #a19ea1; }

.popUpKeyBord div {
  margin-top: 5px;
  padding-left: 10px; }


/*# sourceMappingURL=main.css.map*/